.alert {
    position: absolute;
    z-index: 99;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    width: fit-content;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);

    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;

    transition: all 0.3s ease-in-out;

    &.success {
        background: rgb(30, 255, 0);
    }
    &.error {
        background: rgb(255, 18, 97);
        color: #fff;
    }

    .close {
        min-width: 2rem;
        min-height: 2rem;

        display: grid;
        place-items: center;

        background: #fff;
        border-radius: 50%;
        cursor: pointer;
        user-select: none;

        font-size: 1.3rem;
        font-weight: normal;
        color: #333;

        transition: all 0.3s ease;

        &:hover {
            background: #ddd;
        }
    }
}
.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}
